<mat-toolbar class="contener-toolbar">
  <div *ngIf="!isLogin" class="header-icon">
    <div class="menu-list">
      <button class="button-menu" mat-button [matMenuTriggerFor]="menulist"><mat-icon class="button-menu">menu</mat-icon>{{menuName}}</button>
      <mat-menu #menulist="matMenu">
        <ng-container *ngFor="let menu of childs">
          <button mat-menu-item (click)="goToChild(menu)">{{menu.name}}</button>
        </ng-container>
      </mat-menu>
    </div>
  </div>
  <div class="item">
    <div class="contener-logo">
      <div class="logo-menu"><button mat-button>Liste de noël</button></div>
    </div>
  </div>
  <div *ngIf="!isLogin" class="item menu-button">
    <div class="button-menu-parent" *ngFor="let menu of childs" [ngClass]="menu.active ? 'active' : ''">
      <button mat-button class="button-menu" (click)="goToChild(menu)" >{{menu.name}}</button>
    </div>
  </div>
  <div>
    <div class="contener-profile">
      <button *ngIf="!isLogin" mat-menu-item (click)="disconnect()" >
        <mat-icon class="button-menu">exit_to_app</mat-icon>
      </button>
      <button *ngIf="isLogin" mat-menu-item (click)="userChange()" >
        <mat-icon *ngIf="!isLoginAdmin" class="button-menu">lock</mat-icon>
        <mat-icon *ngIf="isLoginAdmin" class="button-menu">lock_open</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
