
mat-toolbar{
    position: fixed;
    top: 0;
    z-index: 1;
}
.contener-toolbar{
    display: flex;
    justify-content: right;
}

.contener-logo{
    display: flex;
    justify-content: left;
    width: 100%;
}

.contener-profile{
    display: flex;
    justify-content: right;
    width: 100%;
}

.contener-toolbar .item {
    display: flex;
    flex-grow: 1;
    text-align: center;
}

.button-menu{
  color: white;
  cursor: pointer;
}

.logo-menu{
    color: white;
    cursor: pointer;
}

.title-menu {
    color: white;
    cursor: pointer;
}

div.button-menu-parent.active {
  border-bottom-color: white;
  border-bottom-style: groove;
  border-bottom-width: 3px;
  font-size: medium;
}

.contener-toolbar div.header-icon{
  justify-content: center;
  align-content: center;
}

@media screen and (max-width: 740px) {
  .contener-toolbar div.item.menu-button {
    display:none;
  }
  .contener-toolbar div.header-icon {
    display:flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 740px){
  .contener-toolbar div.item.menu-button {
    display:flex;
  }
  .contener-toolbar div.header-icon {
    display:none;
  }
}
