<div class="scrollable">
  <mat-card class="main-card">
    <mat-list>
      <h3 mat-subheader>Pour cocher un cadeau, il suffit de cliquer sur l'icône <mat-icon mat-list-icon>check_box_outline_blank</mat-icon></h3>
      <mat-list-item *ngFor="let gift of gifts; let last = last">
        <mat-icon class="pointer" mat-list-icon *ngIf="gift.checked">check_box</mat-icon>
        <mat-icon class="pointer" (click)="confimDialog(gift)" mat-list-icon *ngIf="!gift.checked">check_box_outline_blank</mat-icon>
        <h4 class="pointer" mat-line (click)="editDialog(gift)">{{gift.label}}</h4>
        <p mat-line *ngIf="gift.description != ''">{{gift.description}}</p>
        <img class="item-img" *ngIf="gift.img" [src]="gift.img">  
        <mat-divider *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>