<div class="scrollable">
  <div class="center">
    <form>
      <mat-form-field>
        <input type="password" matInput placeholder="Mot de passe">
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
      <button mat-button>Entrer</button>
    </form>
    </div>
</div>
