.scrollable{
  margin-top: 80px;
  z-index: 2;
}

.center{
  display: flex;
  justify-content: center;
}

.container-vertical{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.error {
  color: crimson;
}
