<div class="scrollable">
  <div class="center">
    <form>
      <div class="container-vertical">
        <mat-form-field>
          <input type="password" (change)="changePassword($event)" matInput placeholder="Mot de passe"/>
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
        <button (click)="login()" mat-button>Entrer</button>
      </div>
      <span class="error" *ngIf="error">
        Une erreur est survenue. Essayez dans quelques minutes ou abandonnez 😅
      </span>
    </form>
    </div>
</div>
