/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    border: 0;
}

body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #eee;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    background-color: #169148;
}
